.mashup-body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: black;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("../assets/img/mastheads/mashups.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn-primary {
  color: rgb(5, 5, 5) !important;
  background-color: #cf6925;
  border-color: #cf6925;
  margin-left: 5px;
}

.btn-primary:hover {
  color: rgb(8, 8, 8) !important;
  background-color: #bb6023;
  border-color: #bb6023;
}

a:hover {
  color: #000000 !important;
}
