.mashup-body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: black;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.7) 75%,
            #000000 100%),
        url("../assets/img/mashups.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gallery {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .gallery {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .gallery {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .gallery {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .gallery {
        max-width: 1140px;
    }
}

.gallery-fluid,
.gallery-xl,
.gallery-lg,
.gallery-md,
.gallery-sm {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .gallery-sm,
    .gallery {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .gallery-md,
    .gallery-sm,
    .gallery {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .gallery-lg,
    .gallery-md,
    .gallery-sm,
    .gallery {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .gallery-xl,
    .gallery-lg,
    .gallery-md,
    .gallery-sm,
    .gallery {
        max-width: 1140px;
    }
}

.col {
    width: 30%;
    max-width: 30%;
}

.btn-primary {
    color: rgb(5, 5, 5) !important;
    background-color: #cf6925;
    border-color: #cf6925;
    margin-left: 5px;
}

.btn-primary:hover {
    color: rgb(8, 8, 8) !important;
    background-color: #bb6023;
    border-color: #bb6023;
}

.card-body {
    margin-bottom: 1vw;
    background-color: rgba(43, 40, 40, 0.534);
}

a:hover {
    color: #000000 !important;
}
