@charset "UTF-8";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  letter-spacing: 0.0625em;
}

a {
  color: #467370;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #f18b50;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

.index-bg {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("../assets/img/mastheads/main.jpg");
  background-position: 0%;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 30rem;
  /* padding: 0rem 0; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h2 {
  max-width: 33vw;
  font-size: 0.5rem;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead h1 {
    font-size: 4.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2 {
    font-size: 1.25rem;
  }
}

.mixtape {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("../assets/img/mastheads/mixtapes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#myName {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: float;
  align-items: center !important;
}

.align-items-center {
  align-items: center !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.h-100 {
  height: 100% !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.about-section {
  background: linear-gradient(
    to bottom,
    #000000 0%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
  justify-content: center;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #f18b50;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }

  .projects-section .project-text hr {
    border-color: #f18b50;
    border-width: 0.25rem;
    width: 30%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row-cols-3 > * {
  flex: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-4 {
  /* position: relative; */
  /* flex: 0 0 100%; */
  /* max-width: 100%; */
  /* width: 100%; */
  /* flex: 0 0 33.3333333333%; */
  /* max-width: 33.3333333333%; */
}

.col-8 {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-lg-12 {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
